
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.csproj.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.user
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.sil
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
packages/
/OzForex.Deals/.nuget
/OzForex.Deals/.vs
*.boltdata
node_modules

Deployed

# NCrunch
*.ncrunch*
.*crunch*.local.xml

*.orig
*.DotSettings

# Webstorm
*.idea
/ApiTests/package-lock.json
/.vs
